.filter__button {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ffffff;
  border-radius: 60px;
  padding: 6px 20px;
  background: transparent;
  cursor: pointer;
  appearance: none;
}

.filter__button:not(:last-child) {
  margin-right: 10px;
}

.active {
  color: #ad61ff;
  border: 1px solid #ad61ff;
}
